<p>{{server}} with id {{serverId}} is {{serverStatus}}</p>

<label>User Name</label>
<input type="text"
       class="form-control"
       [(ngModel)]="userName">

<hr>
<button class="btn btn-danger"
        [disabled]="!userNameUpdate()"
        (click)="onUpdateUserName()">Update the name
</button>
<hr>

<!--<p>the UpdatedUserName is : {{userNameUpdateText}}</p>-->
<p  *ngIf="userNameUpdated; else noUserName">{{userNameUpdateText}}</p>

<ng-template #noUserName>
  <p>Please Update the userName</p>
</ng-template>

<hr>

<button *ngIf="userNameUpdated" class="btn-xs"
        [disabled]="!userNameUpdate()"
        (click)="userName=''">Reset Name
</button>
